#site-head {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 0rem;
    text-align: center;
    color: #fff;
    background: #82cfe1 no-repeat center center;
    background-size: cover;
  }

  .post-holder.odd {
    background: #82cfe1;
    color: white;
  }

  /* .site-footer > div:nth-child(1) > section:nth-child(3){
    visibility: hidden;
    display: none;
  } */